{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load website_tags %}
{% block content %}
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white">Travel to the heart of Iran</h6>
				<h1 class="text-white">Enjoy your Travel</h1>
				<p class="text-white"> Travel to iran has always been my dream—that hasn’t changed — by Klara Glowczewska - jan 12, 2020 </p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Popular Destinations in Iran</h1>
					<p>ADVENTURE IS OUT THERE. - Charles Muntz</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d1.jpg' %}" alt="">
					</div>
					<div class="desc">
						<a href="#" class="price-btn">$150</a>
						<h4>Mountain River</h4>
						<p>Damavand</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d2.jpg' %}" alt="">
					</div>
					<div class="desc">
						<a href="#" class="price-btn">$250</a>
						<h4>Historical City</h4>
						<p>Isfahan</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d3.jpg' %}" alt="">
					</div>
					<div class="desc">
						<a href="#" class="price-btn">$350</a>
						<h4>Island of Colours</h4>
						<p>Qeshm Island</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End popular-destination Area -->


<!-- Start other-issue Area -->
<section class="other-issue-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Other issues we can help you with</h1>
					<p>We are just a call, a text, a drive away from you. We are always here for your convenience</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o1.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Booking Hotels</h4>
					</a>
					<p>We help tourists and travellers find best hotels and accommodations in Iran and book via the internet with best guaranteed prices lower than hotel walk.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o2.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Preparing itinerary </h4>
					</a>
					<p>
						Iran is a big country and planning an Iran itinerary can be complicated, especially given that most people have only ever heard of Tehran. 
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o3.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>To Do List</h4>
					</a>
					<p>
						Use this checklist and list of tips for when you visit Iran as a comprehensive guide to help get you started. 
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o4.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Exploring Food</h4>
					</a>
					<p>
						Take an Iran food tour while visiting Iran to experience some of Iran's most famous culinary traditions and learn about the way people cooked and ate.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End other-issue Area -->





<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left">
				<h1>
					How do you write an itinerary for Iran? <br>
					Feel free to ask us. <br>
					We‘ll make it for you.
				</h1>
				<p>
					Most travelers don’t have much information about the huge size of the country. The distance between main touristic cities, the number of  UNESCO heritage sites, the diversity of Climate and Weather in Iran, or the types of activities they could have in Iran have variations too. Persian arts, type of transport, the best time for traveling in Iran for different regions, Persian cuisines and Iranian home foods, and off the beaten track destinations of Iran are important in this list too. Especially for those who are first-timers in Iran, having this information could be beneficial in creating a perfect travel holiday for Iran.
				</p>
				<a href="#" class="primary-btn text-uppercase">request custom itinerary</a>
			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding">
				<img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End home-about Area -->

{% latestpostslanding %}

{% endblock %}